input:
  broker:
    inputs:
      - kafka_franz:
          seed_brokers:
            - localhost:19091
            - localhost:19092
            - localhost:19093
          topics:
            - sensor-service.dispatch.telemetry-aggregated
          consumer_group: bento_latest_merger_log_compacted

      # flush trigger every 2 minutes
      - generate:
          interval: "2m"
          mapping: 'root = {"_flush": true}'

pipeline:
  processors:
    - latest_merger:
        strategy: log_compacted

output:
  kafka_franz:
    seed_brokers:
      - localhost:19091
      - localhost:19092
      - localhost:19093
    topic: sensor-service.dispatch.telemetry-latest-compacted
    client_id: bento_latest_merger_log_compacted
